<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2017. AirWatch, LLC. All rights reserved.
  ~ This product is protected by copyright and intellectual property laws in
  ~ the United States and other countries as well as by international treaties.
  ~ AirWatch products may be covered by one or more patents listed at
  ~ http://www.vmware.com/go/patents.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.padmaja.padmajabrooms">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>